<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Dashboard</title>
</head>
<body>

    <header>

        <h1>Place for navbar</h1>
        <a href="{% url 'masterout' %}">Logout Admin</a>

    </header>

    <section>


        <a href="{% url 'create'%}">Add User</a>

        <div class="messages">
            {% for message in messages %}

                {{message}}

            {% endfor %}

        </div>

        <table>

            <tr>

                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>

            </tr>

            {% for item in user %}
                {% if item.is_staff == False %}
            <tr>

                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
                <td><a href="">Edit</a></td>
                <td><a href="{% url 'delete' item.id %}">Delete</a></td>


            </tr>

                {% endif %}
            {% endfor %}

        </table>



    </section>


</body>
</html>