{% extends 'owner/base.html' %}



{% block content %}

    <div class="text-start ms-5 mt-3">

        <h3>Edit user</h3>

        <form action="" method="POST">
                {% csrf_token %}

                <div class="mt-3">

                   <label>Username : </label> {{form.username}}

                </div>

            <div class="ms-3 mt-3">
                <label>Email Id :  </label> {{form.email}}
            </div>

            <div class="ms-5 ps-5 mt-3">

                <input class="btn btn-sm btn-secondary" type="submit" value="Update">

            </div>





        </form>
    </div>



{% endblock %}

