<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>


<div class="container form-container">

    <h3 class="text-center pt-2">Register User</h3>

<form action="" method="POST">

    {% csrf_token %}

    {{form|crispy}}

    <div class="text-center">
        <button type="submit" class="btn  btn-primary">Submit</button>

    </div>

</form>

    <div class="text-center mt-2 mb-2 quest">
        <a href="{% url 'signin'  %}">Already Registered ? </a>
    </div>







</div>


</body>
</html>